<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs');%>
  <body>
    <div class="container">
      <%- include('./partials/navbar.ejs');%>
      <h1><%=title%></h1>
      <h2>Hi <%= name %></h2>

      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">LOG OUT</button>
      </form>
    </div>
    <%- include('./partials/scripts.ejs');%>
  </body>
</html>
